<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beets music library</title>
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
<h1>Beets music library</h1>

<p>
  <a href="javascript:history.back()">&#129176; back</a>
</p>

<ul>
  <li><a href="playlists/">Playlists</a></li>
  <li><a href="audio/">Audio files</a></li>
</ul>
<p>
<a href="playlists/index.m3u">Playlist of playlists</a>
</p>
</body>
</html>
