body {
  font-family: Verdana, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li a {
  display: block;
  padding: 0.5em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
li a span {
  font-size: 0.7em;
}
li:nth-child(odd) {
  background-color: #fafafa;
}
li a:hover, li a:active {
  background: #eeeeee;
}
